* {
    box-sizing: border-box;
}

[class*="col-"] { 
    float: left; 
    padding: 15px; 
    text-align: center;
    color: white;
}

/* Untuk Smartphone */
[class*="col-"] { 
    width: 100%; 
}

@media only screen and (min-width: 600px) {
    /* Untuk Tablet */
    .col-s-6 {width: 50%;}
}

@media only screen and (min-width: 768px) {
    /* Untuk Desktop */
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-6 {width: 50%;}
}

.bg-green { background: #00510c; }
.bg-blue { background: #012051; }
.bg-red { background: #50011a; }