body {          
    background-color: #000000;     
}     
div.container {         
    margin: 0 auto;         
    width: 90%;     
}     
header {         
    width: 100%;         
    height: 100px;         
    background-color: #780012;     
}     
nav {         
    width: 20%;         
    height: 800px;         
    background: #003b52;         
    float: left;     
}     
div.content {         
    width: 80%;         
    height: 800px;         
    background: #fff;         
    float: right;     
}     
footer {         
    width: 100%;         
    height: 50px;         
    background: #016060;
    color: white;
    text-align: center;
    line-height: 50px;
    clear: both;
    font-family: Arial, sans-serif;
}